framework:
    messenger:

        transports:
            async: '%env(MESSENGER_TRANSPORT_DSN)%'

        routing:
            Symfony\Component\Mailer\Messenger\SendEmailMessage: async
            Symfony\Component\Notifier\Message\ChatMessage: async
            Symfony\Component\Notifier\Message\SmsMessage: async
            App\Message\CommentMessage: async