nelmio_cors:
    defaults:
        origin_regex: true
        allow_origin: ['^https?://127\.0\.0\.1:[0-9]+', '^https?://localhost:[0-9]+']
        allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE']
        allow_headers: ['Content-Type', 'Authorization']
        max_age: 3600
    paths:
        '^/api/': ~